In [1]:
import numpy as np
import pandas as pd

### 데이터 변환

##### xlsx to csv   
##### csv to csv   


- 구분자 쉼표
- 인코딩 방식 UTF-8
- 결측치 NaN

In [2]:
file_name = 'CNTT'
data_location = '../data/'
data_loctaion_convert = '../data_convert'

file = data_location + file_name
file_convert = data_loctaion_convert + file_name

In [3]:
#data = pd.read_excel('{}.xlsx'.format(file))
data = pd.read_csv('../data/{}.csv'.format(file_name))
#경우에 따라 사용
data.head()

,POLY_NO,CUST_ID,CUST_ROLE,IRKD_CODE_DTAL,IRKD_CODE_ITEM,GOOD_CLSF_CDNM,CNTT_YM,CLLT_FP_PRNO,REAL_PAYM_TERM,SALE_CHNL_CODE,...,EXPR_YM,EXTN_YM,LAPS_YM,PAYM_CYCL_CODE,MAIN_INSR_AMT,SUM_ORIG_PREM,RECP_PUBL,CNTT_RECP,MNTH_INCM_AMT,DISTANCE
0,1,2805,1,1550,10,일반종신,200306,4671.0,20,1,...,999912.0,NaN,NaN,1.0,50000000.0,187150.0,0.0,0.0,0.0,15.0
1,2,5658,1,1550,10,일반종신,200306,5900.0,15,1,...,999912.0,200809.0,NaN,1.0,50000000.0,118750.0,0.0,0.0,200000.0,147.0
2,3,4583,1,1257,21,일반연금,200307,5778.0,5,1,...,999912.0,200605.0,200605.0,1.0,42000000.0,700700.0,22.0,0.0,300000.0,3.0
3,4,14363,1,1550,10,일반종신,200306,4553.0,15,1,...,999912.0,201104.0,NaN,1.0,50000000.0,102450.0,0.0,0.0,250000.0,13.0
4,5,1222,0,1268,18,어린이,200306,3366.0,10,1,...,202706.0,NaN,NaN,1.0,30000000.0,33750.0,3.0,0.0,150000.0,29.0

In [4]:
data.to_csv('{}convert.csv'.format(file_convert),sep=',',na_rep='',encoding='UTF-8',index=False)

In [5]:
data = pd.read_csv('{}convert.csv'.format(file_convert))
data.head()

,POLY_NO,CUST_ID,CUST_ROLE,IRKD_CODE_DTAL,IRKD_CODE_ITEM,GOOD_CLSF_CDNM,CNTT_YM,CLLT_FP_PRNO,REAL_PAYM_TERM,SALE_CHNL_CODE,...,EXPR_YM,EXTN_YM,LAPS_YM,PAYM_CYCL_CODE,MAIN_INSR_AMT,SUM_ORIG_PREM,RECP_PUBL,CNTT_RECP,MNTH_INCM_AMT,DISTANCE
0,1,2805,1,1550,10,일반종신,200306,4671.0,20,1,...,999912.0,NaN,NaN,1.0,50000000.0,187150.0,0.0,0.0,0.0,15.0
1,2,5658,1,1550,10,일반종신,200306,5900.0,15,1,...,999912.0,200809.0,NaN,1.0,50000000.0,118750.0,0.0,0.0,200000.0,147.0
2,3,4583,1,1257,21,일반연금,200307,5778.0,5,1,...,999912.0,200605.0,200605.0,1.0,42000000.0,700700.0,22.0,0.0,300000.0,3.0
3,4,14363,1,1550,10,일반종신,200306,4553.0,15,1,...,999912.0,201104.0,NaN,1.0,50000000.0,102450.0,0.0,0.0,250000.0,13.0
4,5,1222,0,1268,18,어린이,200306,3366.0,10,1,...,202706.0,NaN,NaN,1.0,30000000.0,33750.0,3.0,0.0,150000.0,29.0