In [1]:
#모듈IMPORT
import pandas as pd
import statsmodels.api as sm

In [2]:
#데이터 불러오기
train_dataset3=pd.read_csv('test_data.csv')

In [3]:
train_dataset3.head()

,CLLT_FP_PRNO,INCB_DVSN,CUST_ID,DIVIDED_SET,SIU_CUST_YN,SEX,AGE,FP_CAREER,OCCP_GRP,TOTALPREM,...,RESL_CD1_COUNT,DMND_AMT_SUM,PAYM_AMT_SUM,NON_PAY_RATIO_SUM,CLAIM_CNT,TOTAL_VLID_HOSP_OTDA,HOSP_VARIES,HOSP_DVSN_VARIES,CHME_LICE_COUNT,HEED_HOSP_YN_RATE
0,26646,R,1,1,N,2,4,N,1,14,...,2,141450.0,141450.0,3.0,4,5,2,2,1,0.0
1,9613,R,6,1,N,1,6,N,11,2,...,3,1390000.0,1390000.0,0.0,3,6,3,2,3,0.0
2,7867,P,8,1,N,1,5,Y,2,15,...,3,2480000.0,2480000.0,0.0,10,21,4,3,4,0.0
3,24770,R,12,1,N,1,5,N,17,13,...,1,72320.0,72320.0,0.0,1,5,1,1,1,0.0
4,291,R,15,1,N,1,5,N,1,3,...,2,1300000.0,1300000.0,0.0,4,26,2,2,2,0.0

In [5]:
#DIVIDED_SET 2인 행 제거
train_dataset3=train_dataset3[train_dataset3.DIVIDED_SET != 2]

In [6]:
train_dataset3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7626 entries, 0 to 7625
Data columns (total 44 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CLLT_FP_PRNO          7626 non-null   int64
 1   INCB_DVSN             7626 non-null   object
 2   CUST_ID               7626 non-null   int64
 3   DIVIDED_SET           7626 non-null   int64
 4   SIU_CUST_YN           7626 non-null   object
 5   SEX                   7626 non-null   int64
 6   AGE                   7626 non-null   int64
 7   FP_CAREER             7626 non-null   object
 8   OCCP_GRP              7626 non-null   int64
 9   TOTALPREM             7626 non-null   int64
 10  WEDD_YN               7626 non-null   object
 11  MAX_PRM               7626 non-null   int64
 12  RGST_YEAR             7626 non-null   int64
 13  RGST_MONTH            7626 non-null   int64
 14  MAX_PAYM_YEAR         7626 non-null   int64
 15  MAX_PAYM_MONTH        7626 non-null   int64
 16  MNTH_INCM_AMT_AVG     7626 non-null   float64
 17  MAIN_INSR_AMT_SUM     7626 non-null   int64
 18  SUM_ORIG_PREM_SUM     7626 non-null   int64
 19  EXPR_SUM              7626 non-null   int64
 20  CNTT_TERM_AVG         7626 non-null   float64
 21  WORK_YEARS_MAX        7626 non-null   int64
 22  WORK_YEARS_MIN        7626 non-null   int64
 23  EXPR_COUNT            7626 non-null   int64
 24  MINCRDT               7626 non-null   float64
 25  JPBASE_HSHD_INCM      7626 non-null   float64
 26  ACCI_OCCP_GRP         7626 non-null   float64
 27  CHME_LICE_NO          7626 non-null   float64
 28  DMND_AMT              7626 non-null   float64
 29  PAYM_AMT              7626 non-null   float64
 30  NON_PAY_RATIO         7626 non-null   float64
 31  HEED_HOSP_YN          7626 non-null   int64
 32  CAUS_CODE_COUNT       7626 non-null   int64
 33  DMND_RESN_CODE_COUNT  7626 non-null   int64
 34  RESL_CD1_COUNT        7626 non-null   int64
 35  DMND_AMT_SUM          7626 non-null   float64
 36  PAYM_AMT_SUM          7626 non-null   float64
 37  NON_PAY_RATIO_SUM     7626 non-null   float64
 38  CLAIM_CNT             7626 non-null   int64
 39  TOTAL_VLID_HOSP_OTDA  7626 non-null   int64
 40  HOSP_VARIES           7626 non-null   int64
 41  HOSP_DVSN_VARIES      7626 non-null   int64
 42  CHME_LICE_COUNT       7626 non-null   int64
 43  HEED_HOSP_YN_RATE     7626 non-null   float64
dtypes: float64(13), int64(27), object(4)
memory usage: 2.6+ MB

In [8]:
#DIVIDED_SET, CUST_ID, CLLT_FP_PRNO제거
train_dataset3.drop(['DIVIDED_SET'], axis=1, inplace = True)
train_dataset3.drop(['CUST_ID'], axis=1, inplace = True)
train_dataset3.drop(['CLLT_FP_PRNO'], axis=1, inplace = True)

In [10]:
#SIU_CUST_YN Y/N ==> 1/0으로 변경
train_dataset3['SIU_CUST_YN'].replace('Y', 1, inplace = True)
train_dataset3['SIU_CUST_YN'].replace('N', 0, inplace = True)

In [12]:
#FP_CAREER Y/N ==> 1/0으로 변경
train_dataset3['FP_CAREER'].replace('Y', 1, inplace = True)
train_dataset3['FP_CAREER'].replace('N', 0, inplace = True)

In [13]:
#WEDD_YN Y/N ==> 1/0으로 변경
train_dataset3['WEDD_YN'].replace('Y', 1, inplace = True)
train_dataset3['WEDD_YN'].replace('N', 0, inplace = True)

In [14]:
#INCB_DVSN ==> R : 1. P : 2, C : 3
train_dataset3['INCB_DVSN'].replace('R', 1, inplace = True)
train_dataset3['INCB_DVSN'].replace('P', 2, inplace = True)
train_dataset3['INCB_DVSN'].replace('C', 3, inplace = True)

In [15]:
train_dataset3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7626 entries, 0 to 7625
Data columns (total 41 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   INCB_DVSN             7626 non-null   int64
 1   SIU_CUST_YN           7626 non-null   int64
 2   SEX                   7626 non-null   int64
 3   AGE                   7626 non-null   int64
 4   FP_CAREER             7626 non-null   int64
 5   OCCP_GRP              7626 non-null   int64
 6   TOTALPREM             7626 non-null   int64
 7   WEDD_YN               7626 non-null   int64
 8   MAX_PRM               7626 non-null   int64
 9   RGST_YEAR             7626 non-null   int64
 10  RGST_MONTH            7626 non-null   int64
 11  MAX_PAYM_YEAR         7626 non-null   int64
 12  MAX_PAYM_MONTH        7626 non-null   int64
 13  MNTH_INCM_AMT_AVG     7626 non-null   float64
 14  MAIN_INSR_AMT_SUM     7626 non-null   int64
 15  SUM_ORIG_PREM_SUM     7626 non-null   int64
 16  EXPR_SUM              7626 non-null   int64
 17  CNTT_TERM_AVG         7626 non-null   float64
 18  WORK_YEARS_MAX        7626 non-null   int64
 19  WORK_YEARS_MIN        7626 non-null   int64
 20  EXPR_COUNT            7626 non-null   int64
 21  MINCRDT               7626 non-null   float64
 22  JPBASE_HSHD_INCM      7626 non-null   float64
 23  ACCI_OCCP_GRP         7626 non-null   float64
 24  CHME_LICE_NO          7626 non-null   float64
 25  DMND_AMT              7626 non-null   float64
 26  PAYM_AMT              7626 non-null   float64
 27  NON_PAY_RATIO         7626 non-null   float64
 28  HEED_HOSP_YN          7626 non-null   int64
 29  CAUS_CODE_COUNT       7626 non-null   int64
 30  DMND_RESN_CODE_COUNT  7626 non-null   int64
 31  RESL_CD1_COUNT        7626 non-null   int64
 32  DMND_AMT_SUM          7626 non-null   float64
 33  PAYM_AMT_SUM          7626 non-null   float64
 34  NON_PAY_RATIO_SUM     7626 non-null   float64
 35  CLAIM_CNT             7626 non-null   int64
 36  TOTAL_VLID_HOSP_OTDA  7626 non-null   int64
 37  HOSP_VARIES           7626 non-null   int64
 38  HOSP_DVSN_VARIES      7626 non-null   int64
 39  CHME_LICE_COUNT       7626 non-null   int64
 40  HEED_HOSP_YN_RATE     7626 non-null   float64
dtypes: float64(13), int64(28)
memory usage: 2.4 MB

In [17]:
train_dataset3.head()

,INCB_DVSN,SIU_CUST_YN,SEX,AGE,FP_CAREER,OCCP_GRP,TOTALPREM,WEDD_YN,MAX_PRM,RGST_YEAR,...,RESL_CD1_COUNT,DMND_AMT_SUM,PAYM_AMT_SUM,NON_PAY_RATIO_SUM,CLAIM_CNT,TOTAL_VLID_HOSP_OTDA,HOSP_VARIES,HOSP_DVSN_VARIES,CHME_LICE_COUNT,HEED_HOSP_YN_RATE
0,1,0,2,4,0,1,14,1,3,1999,...,2,141450.0,141450.0,3.0,4,5,2,2,1,0.0
1,1,0,1,6,0,11,2,1,0,1999,...,3,1390000.0,1390000.0,0.0,3,6,3,2,3,0.0
2,2,0,1,5,1,2,15,1,102,1999,...,3,2480000.0,2480000.0,0.0,10,21,4,3,4,0.0
3,1,0,1,5,0,17,13,1,7,1999,...,1,72320.0,72320.0,0.0,1,5,1,1,1,0.0
4,1,0,1,5,0,1,3,1,5,1999,...,2,1300000.0,1300000.0,0.0,4,26,2,2,2,0.0

In [15]:
train_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7801 entries, 0 to 8477
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SIU_CUST_YN        7801 non-null   int64
 1   SEX                7801 non-null   int64
 2   AGE                7801 non-null   int64
 3   FP_CAREER          7801 non-null   int64
 4   OCCP_GRP           7801 non-null   int64
 5   TOTALPREM          7801 non-null   int64
 6   MAX_PAYM_YEAR      7801 non-null   int64
 7   MAX_PAYM_MONTH     7801 non-null   int64
 8   MAIN_INSR_AMT_SUM  7801 non-null   int64
 9   EXPR_SUM           7801 non-null   int64
 10  WORK_YEARS_MIN     7801 non-null   int64
 11  EXPR_COUNT         7801 non-null   int64
dtypes: int64(12)
memory usage: 792.3 KB

In [18]:
prediction = train_dataset3[['SIU_CUST_YN']] # y : 보험사기여부

In [19]:
# x1, x2, ... 나머지 변수
train_data = train_dataset3[['INCB_DVSN','SEX','AGE','FP_CAREER','OCCP_GRP','TOTALPREM','WEDD_YN','MAX_PRM','RGST_YEAR','RGST_MONTH','MAX_PAYM_YEAR','MAX_PAYM_MONTH','MNTH_INCM_AMT_AVG','MAIN_INSR_AMT_SUM','SUM_ORIG_PREM_SUM','EXPR_SUM','CNTT_TERM_AVG','WORK_YEARS_MAX','WORK_YEARS_MIN','EXPR_COUNT','MINCRDT','JPBASE_HSHD_INCM','ACCI_OCCP_GRP','CHME_LICE_NO','DMND_AMT','PAYM_AMT','NON_PAY_RATIO','HEED_HOSP_YN','CAUS_CODE_COUNT','DMND_RESN_CODE_COUNT','RESL_CD1_COUNT','DMND_AMT_SUM','PAYM_AMT_SUM','NON_PAY_RATIO_SUM','CLAIM_CNT','TOTAL_VLID_HOSP_OTDA','HOSP_VARIES','HOSP_DVSN_VARIES','CHME_LICE_COUNT','HEED_HOSP_YN_RATE']]
train_data

,INCB_DVSN,SEX,AGE,FP_CAREER,OCCP_GRP,TOTALPREM,WEDD_YN,MAX_PRM,RGST_YEAR,RGST_MONTH,...,RESL_CD1_COUNT,DMND_AMT_SUM,PAYM_AMT_SUM,NON_PAY_RATIO_SUM,CLAIM_CNT,TOTAL_VLID_HOSP_OTDA,HOSP_VARIES,HOSP_DVSN_VARIES,CHME_LICE_COUNT,HEED_HOSP_YN_RATE
0,1,2,4,0,1,14,1,3,1999,10,...,2,141450.0,141450.0,3.0,4,5,2,2,1,0.0
1,1,1,6,0,11,2,1,0,1999,10,...,3,1390000.0,1390000.0,0.0,3,6,3,2,3,0.0
2,2,1,5,1,2,15,1,102,1999,10,...,3,2480000.0,2480000.0,0.0,10,21,4,3,4,0.0
3,1,1,5,0,17,13,1,7,1999,10,...,1,72320.0,72320.0,0.0,1,5,1,1,1,0.0
4,1,1,5,0,1,3,1,5,1999,10,...,2,1300000.0,1300000.0,0.0,4,26,2,2,2,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7621,1,2,4,0,3,0,1,3,2012,1,...,2,519989.0,519989.0,1.0,5,13,2,2,2,0.0
7622,2,2,5,0,2,22,1,32,2012,2,...,1,100000.0,100000.0,0.0,1,0,1,1,1,0.0
7623,2,2,5,0,8,0,1,0,2012,6,...,1,73300.0,73300.0,1.0,1,2,1,1,1,0.0
7624,1,2,4,0,3,0,1,0,2012,10,...,1,1081494.0,1081494.0,1.0,1,3,1,1,1,0.0
7625,2,1,3,0,8,0,1,1,2014,1,...,4,12680000.0,12680000.0,0.0,16,92,4,3,9,0.0

In [21]:
train_data = sm.add_constant(train_data, has_constant = 'add')

In [22]:
multi_model = sm.OLS(prediction, train_data)
fitted_multi_model = multi_model.fit()

In [23]:
fitted_multi_model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            SIU_CUST_YN   R-squared:                       0.263
Model:                            OLS   Adj. R-squared:                  0.259
Method:                 Least Squares   F-statistic:                     69.36
Date:                Fri, 13 Aug 2021   Prob (F-statistic):               0.00
Time:                        14:30:20   Log-Likelihood:                -304.55
No. Observations:                7626   AIC:                             689.1
Df Residuals:                    7586   BIC:                             966.7
Df Model:                          39
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                    0.6810      0.649      1.049      0.294      -0.592       1.954
INCB_DVSN                0.0022      0.008      0.289      0.773      -0.013       0.017
SEX                      0.0204      0.006      3.146      0.002       0.008       0.033
AGE                     -0.0069      0.003     -2.095      0.036      -0.013      -0.000
FP_CAREER                0.0227      0.011      2.124      0.034       0.002       0.044
OCCP_GRP                -0.0009      0.001     -1.631      0.103      -0.002       0.000
TOTALPREM               -0.0023      0.001     -2.873      0.004      -0.004      -0.001
WEDD_YN                  0.6810      0.649      1.049      0.294      -0.592       1.954
MAX_PRM                  0.0005      0.000      1.886      0.059   -1.84e-05       0.001
RGST_YEAR            -1.477e-05   1.91e-05     -0.773      0.439   -5.22e-05    2.27e-05
RGST_MONTH              -0.0023      0.001     -1.630      0.103      -0.005       0.000
MAX_PAYM_YEAR           -0.0007      0.001     -1.056      0.291      -0.002       0.001
MAX_PAYM_MONTH           0.0007      0.001      0.718      0.473      -0.001       0.002
MNTH_INCM_AMT_AVG      5.59e-09   1.87e-09      2.997      0.003    1.93e-09    9.25e-09
MAIN_INSR_AMT_SUM     6.318e-11   1.71e-11      3.691      0.000    2.96e-11    9.67e-11
SUM_ORIG_PREM_SUM    -1.628e-10   1.78e-10     -0.917      0.359   -5.11e-10    1.85e-10
EXPR_SUM                -0.0006      0.002     -0.406      0.685      -0.004       0.002
CNTT_TERM_AVG            0.0005      0.001      0.727      0.467      -0.001       0.002
WORK_YEARS_MAX        6.241e-05      0.000      0.137      0.891      -0.001       0.001
WORK_YEARS_MIN          -0.0006      0.001     -1.078      0.281      -0.002       0.000
EXPR_COUNT              -0.0006      0.001     -0.595      0.552      -0.003       0.001
MINCRDT                  0.0088      0.002      4.495      0.000       0.005       0.013
JPBASE_HSHD_INCM      6.146e-07   1.18e-06      0.519      0.604   -1.71e-06    2.94e-06
ACCI_OCCP_GRP            0.0004      0.001      0.634      0.526      -0.001       0.002
CHME_LICE_NO          1.927e-11   2.84e-10      0.068      0.946   -5.38e-10    5.77e-10
DMND_AMT              1.061e-08   1.94e-07      0.055      0.956    -3.7e-07    3.91e-07
PAYM_AMT             -1.014e-08   1.94e-07     -0.052      0.958   -3.91e-07    3.71e-07
NON_PAY_RATIO           -0.0173      0.012     -1.470      0.142      -0.040       0.006
HEED_HOSP_YN             0.0069      0.034      0.200      0.842      -0.061       0.074
CAUS_CODE_COUNT         -0.0176      0.006     -3.191      0.001      -0.028      -0.007
DMND_RESN_CODE_COUNT    -0.0326      0.004     -7.771      0.000      -0.041      -0.024
RESL_CD1_COUNT           0.0185      0.004      4.273      0.000       0.010       0.027
DMND_AMT_SUM         -3.807e-09    5.7e-08     -0.067      0.947   -1.15e-07    1.08e-07
PAYM_AMT_SUM          4.421e-09   5.71e-08      0.077      0.938   -1.07e-07    1.16e-07
NON_PAY_RATIO_SUM       -0.0117      0.002     -4.808      0.000      -0.016      -0.007
CLAIM_CNT               -0.0054      0.001     -4.424      0.000      -0.008      -0.003
TOTAL_VLID_HOSP_OTDA     0.0009   5.87e-05     15.606      0.000       0.001       0.001
HOSP_VARIES              0.0057      0.004      1.334      0.182      -0.003       0.014
HOSP_DVSN_VARIES         0.0224      0.005      4.136      0.000       0.012       0.033
CHME_LICE_COUNT          0.0215      0.004      5.751      0.000       0.014       0.029
HEED_HOSP_YN_RATE        0.0716      0.040      1.806      0.071      -0.006       0.149
==============================================================================
Omnibus:                     3684.471   Durbin-Watson:                   2.014
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            19935.179
Skew:                           2.337   Prob(JB):                         0.00
Kurtosis:                       9.394   Cond. No.                     3.19e+15
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.19e+15. This might indicate that there are
strong multicollinearity or other numerical problems.
"""